{% extends 'layout.html' %}

{% block content %}
<div class="timeline">
    <div class="followings half">
        <h2>팔로잉 목록</h2>
        {% if user.Followings %}
        {% for following in user.Followings %}
        <div class="followNick" data-value={{followerIdList[loop.index-1]}}>{{following.nick}}</div>
        <!-- <button class="twit-notfollow">팔로잉끊기</button> -->
        {% endfor %}
        {% endif %}
    </div>
    <div class="followers half">
        <h2>팔로워 목록</h2>
        {% if user.Followers %}
        {% for follower in user.Followers %}
        <div>{{follower.nick}}</div>
        {% endfor %}
        {% endif %}
    </div>
</div>
<script>
    document.querySelectorAll('.followNick').forEach(function (tag) {
        tag.addEventListener('click', function () {
            const myId = document.querySelector('#my-id');
            if (myId) { //로그인된 사용자 존재하면
                const id = tag.dataset.value
                console.log(id)
                if (myId !== id) { //현재 사용자와 팔로잉끊기한 사용자가 다르면
                    if (confirm('팔로잉을 끊으시겠습니까?')) { //팔로잉끊기 여부 묻기
                        axios.delete(`/user/${id}/follow`) //routes/user.js의 notfollow 코드로 이동
                            .then(() => {
                                location.reload();
                            })
                            .catch((error) => {
                                console.error(error);
                            });
                    }
                }
            }
        });
    });
</script>
{% endblock %}